.top-section{
    border: 1px solid black;
    padding: 10px;
}
.top-section h1{
    text-decoration: underline;

}
.top-section a{
    text-decoration: none;
}
.image-section h1{
text-decoration: underline;
}
.image-section a{
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
}
.trivia-section{
padding: 10px;    
}
.trivia-section h1{
    text-decoration: underline;
}